.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header h1 {
  color: #fff;
}

.App-header h2 {
  color: #666;
  font-weight: normal;
}

.App {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, rgba(176, 175, 210, 0.7), rgba(74,77,106,0.7)), url('./assets/bg.jpg');
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

/* .App-container {
    width: 300px;
    height: 535px;
    background-image: linear-gradient(to bottom right, rgba(168, 86, 86, 0.7), rgba(211, 172, 172, 0.7)), url('./assets/container-bg.jpg');
    background-size: cover;
    background-position: 50% 0;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
    border-radius: 25px;
} */
